*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
.main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#0a0a0a,#3a4452); 
}
.inner-div{
    width:400px;
    border-radius:10px ;
    height: min-content;
    padding: 25px 25px;
    background-color: white;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
}
.heading {
    font-size: 35px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip :text; 
    margin-block-end: 20px;
  }
.text{
    width: 100%;
    padding: 10px 10px;
   color: #3a4452;
   border-radius: 10px;
   margin-block-end: 20px;
   box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.text::placeholder{
    font-size: 17px;
}
.range{
    width:100%;
    cursor: pointer;
    margin-block-end: 12px;
}
.row{
    display: flex;
}
.row h3{
    flex-basis: 96%;
}
.row span{
    font-size: 18px;
}
 h3{
    color: black;
    font-weight: 540;
    font-size: 25x;
    margin-block-end: 10px;
  }
  .setting{
    margin-block-end: 21px;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
  }
   .option{
    display: flex; /* to make checkbox and text in the same line*/
     align-items: center;
     width:calc(100%/2);
    margin-bottom: 10px;
  } 
  .option input{
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  .option label{
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
  }
  button{
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: 600;
    padding: 15px 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background: radial-gradient(circle at 2.9% 7.7%, rgb(164, 14, 176) 0%, rgb(254, 101, 101) 90%);
  }
